<!-- <script src="https://use.typekit.net/efa4pco.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script> -->

<link rel="icon" href="<%= root %>favicon.ico?v=3" />
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:700,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">   -->